<%
    args = {}
    args[:profile] = owner if (defined?(owner) && !owner.kind_of?(Environment))
    args[:kind] = kind if defined?(kind)
    args[:asset] = asset if defined?(asset)
    args[:anchor] = anchor if defined?(anchor)
    args[:controller] = controller
    args[:action] = action
%>

<%= link_to font_awesome('angle-double-right', _('View all')), args, :class => 'view-all' unless block_elements.count == 0 %>
