<%= labelled_form_for :profile_data, :url => {:action => 'edit_location'}, :html => {:id => 'location-form'} do |f| %>
  <%= render partial: 'shared/location_form', locals: { f: f, profile: @profile_data } %>

  <h1><%= _('Regions of Interest') %></h1>
  <%= select_categories(:profile_data, _('Select the regions in which you are inserted'), 4, :regions) %>

  <%= button_bar do %>
    <%= submit_button 'save', _('Save') %>
    <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
  <% end %>
<% end %>
