<h1><%= _('%s\' Location').html_safe % profile.name %></h1>

<%= error_messages_for :profile_data %>

<%= labelled_form_for :profile_data, :url => {:action => 'location'}, :html => {:id => 'location-form'} do |f| %>
  <div class="error">
    <%= flash[:error] %>
  </div>

  <%= render partial: 'shared/location_form', locals: { f: f, profile: @profile_data } %>

  <%= button_bar do %>
    <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
    <%= submit_button 'save', _('Save') %>
  <% end %>
<% end %>

