<h4 id="<%= result['field'].to_slug %>" class="review_text_align">
  <%= result['field'] %>
</h4>

<%= render partial: 'results_table', locals: { result: result } %>

<%= pie_chart result["data"], donut: true, legend: 'bottom',
              summary: (result['summary'] if current_person.try(:can_see_summary?, profile)) %>
