<%= block_title(block.view_title, block.subtitle) %>

<%
  size = theme_option(:profile_list_imgs_size) || :minor
  list = block.profile_list.map do |item|
    profile_image_link(item, size.to_sym)
  end.join("\n ")
%>

<div>
  <% if list.empty? %>
    <div class='common-profile-list-block-none'><%= _('This profile is not member of any community yet.') %></div>
  <% else %>
    <ul class="common-profile-list-block"><%= list.html_safe %></ul>
  <% end %>
</div>
